html {

}
body {
  margin: 70px;
  background-color: grey;
  font-family: Cormorant Garamond;
}
#map-canvas{
  height: 30%;
  width: 30%;
  margin: 0px 360px;
 }
#intro {
  padding-left: 2em;
  width: 20%;
  margin: 10px 340px;
}

h4{
  text-align: center;
}

img {
  margin: 20px 20px;
  width: 200px;
  height: 200px;
}

body > div.card-panel.teal.lighten-2 {
  width: 50%;
  margin: auto;
}

button#search {
  width: 20%;
  height: 25px;
  margin: 5px 360px;
}

p {
  margin: 10px 360px;
  display: inline-block;
}

#photo {
  width: 80%;
  margin: 0px 300px;
}
